/backend/modeling/attempts_model.pkl
/backend/modeling/attempts_scaler.pkl
/backend/modeling/completions_model.pkl
/backend/modeling/completions_scaler.pkl
/backend/modeling/fumbles_model.pkl
/backend/modeling/fumbles_scaler.pkl
/backend/modeling/interceptions_model.pkl
/backend/modeling/interceptions_scaler.pkl
/backend/modeling/passing_model.pkl
/backend/modeling/passing_scaler.pkl
/backend/modeling/rushing_model.pkl
/backend/modeling/rushing_scaler.pkl
/backend/modeling/total_plays_model.pkl
/backend/modeling/total_plays_scaler.pkl
/backend/modeling/total_yards_model.pkl
/backend/modeling/total_yards_scaler.pkl
